<ion-card class="card">
  <ion-card-header>
    <ion-button size="small" class="avatarButton" color="medium" (click)="openModal()">
      <ion-avatar>
        <img alt="Silhouette of a person's head"  [src]="joker.image" />
      </ion-avatar>
    </ion-button>
    <ion-title>{{joker.name}}</ion-title>
  </ion-card-header>
  <ion-card-content>
  <p id="description">{{joker.descrption}}</p>
    <ion-button color="success" (click)="onAddNumber()">{{ likeTextStatus }}</ion-button>
    <h2>{{joker.likeCount}}</h2>
    <h3>{{joker.createdDate}}</h3>
  </ion-card-content>
</ion-card>
